// imports de arquivos scss
@import "variaveis";
@import "mixins";

// Parametros de reset basicos
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}

// estilos da seção header
header {
  position: relative;
  height: 250px;
  background-image: url(../../img/pattern-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 830px) {
    height: 270px;
  }

  .inputs-container {
    padding-top: 50px;
    display: flex;
    text-align: center;
    word-wrap: break-word;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @media screen and (max-width: 830px) {
      padding-top: 20px;
    }
  }

  h1 {
    @include estilo-de-tipo(#fff, 2rem);

    @media screen and (max-width: 830px) {
      padding: 0 20px;
      @include estilo-de-tipo(#fff, 1.6rem);
    }
  }

  form {
    width: 100%;
    display: flex;
    justify-content: center;

    .input-address {
      padding: 15px 40px;
      border-radius: 10px 0 0 10px;
      width: 40%;
      border: none;
      outline: none;
      @include estilo-de-tipo($very-dark-gray, 1.1rem, regular);

      @media screen and (max-width: 830px) {
        width: 80%;
      }
    }

    .input-address.error::placeholder {
      color: red;
    }

    .input-btn {
      padding: 15px;
      border-radius: 0 10px 10px 0;
      background-color: $very-dark-gray;
      border: none;
      cursor: pointer;
    }
  }

  .address-info {
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    height: 0;
    overflow: hidden;
    z-index: 999;
    top: 80%;
    align-self: center;
    width: 80%;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 9px 13px 27px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 13px 27px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 9px 13px 27px -16px rgba(0, 0, 0, 0.75);

    @media screen and (max-width: 830px) {
      text-align: center;
      // margin-top: 20px;
      // display: block;
      flex-direction: column;
      width: 90%;
      top: 70%;
      padding: 20px;
    }

    div {
      position: relative;
      padding: 20px 0px 20px 20px;
      width: 100%;

      @media screen and (max-width: 830px) {
        padding: 0;
      }

      span {
        text-transform: uppercase;
        letter-spacing: 2px;
        @include estilo-de-tipo($dark-gray, 0.6rem, bold);
      }

      p {
        position: relative;
        padding-top: 10px;
        @include estilo-de-tipo($very-dark-gray, 1.2rem, bold);

        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 1px;
          height: 40px;
          top: 0;
          left: -20px;
          background-color: gray;
        }
      }
    }

    div:first-child p::after {
      height: 0;
    }
  }

  .address-info.active {
    height: auto;
    transform: translateY(-30px);
    animation: slide-down;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    @keyframes slide-down {
      from {
        opacity: 0;
      }
      to {
        transform: rotateY(0);
        opacity: 1;
      }
    }
  }

  .address-info.colapse {
    transform: translateY(-20px);
    animation: slide-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    @keyframes slide-up {
      from {
        height: auto;
        opacity: 1;
        transform: rotateY(0);
      }
      to {
        height: 0;
        opacity: 0;
      }
    }
  }

  .address-info.disable {
    display: none;
  }
}

// estilos da seção do mapa

main {
  #map {
    height: calc(100vh - 250px);
    position: relative;

    @media screen and (max-width: 830px) {
      height: calc(100vh - 270px);
      padding: 0;
    }
  }
}
